<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <contexts>
      <context type="OrderEntryDataAccess.OrderEntryContext, OrderEntryDataAccess">
        <databaseInitializer type="OrderEntryDataAccess.OrderEntryInitializer, OrderEntryDataAccess" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OrderEntryContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=0515_392_OrderEntrySystem_Menadue;Integrated Security=False;User ID=TestUser;Password=password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>